/*Coloring*/
a{
    color: #2089C4;
    transition : color .2s;
}
a:hover{color : #145b82;}
a:visited{color : #871616 !important;}

body.invert-color, 
body.invert-color input, 
body.invert-color button{
    background-color: #1F1F1F;
}


body.invert-color *{
    color: white;
}

.bg-r{background-color: #c42121;}
.bg-g{background-color: #21c454;}
.bg-b{background-color: #218ac4;}
.bg-d{background-color: #1d1d1d;}
.bg-b{background-color: #EEEEEE;}

.co-r{color: #c42121;}
.co-g{color: #21c454;}
.co-b{color: #218ac4;}

.tag{color: white;}