//Space variables definitions
//Usage: Margin, padding and relative position (left, right, etc.)
$space-xsm : 4px;
$space-sm: 8px;
$space-md: 24px;
$space-lg: 48px;
$space-xlg: 128px;

$spaceList : $space-xsm $space-sm $space-md $space-lg $space-xlg;

//Viewport width variable definitions
//Usage: In containers width definitions
$vw-xsm: 280px;
$vw-sm: 420px;
$vw-md: 880px;
$vw-lg: 1280px;
$vw-xlg: 1600px;

@mixin m-x-auto{
    margin-left: auto;
    margin-right: auto;
}

@mixin responsive-w{
    width: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.container{
    display: block;
    max-width: $vw-md; //<ALTER:.container:max-width>
    padding: $space-sm $space-md; //<ALTER:.container:padding>

    @include m-x-auto;
    @include responsive-w;
}

.container{
    @include responsive-w;
}

//Display section
@include parentAndChild("d-block", block);
@include parentAndChild("d-flex", flex);
@include parentAndChild("d-inline", inline);
@include parentAndChild("d-inline-block", inline-block);

.m-x-auto{
    @include m-x-auto;
}

.pos-abs{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

@include responsiveStylesBoxSizing("m", "margin", $spaceList);
@include responsiveStylesBoxSizing("p", "padding", $spaceList);
@include responsiveStyles("r", "right", $spaceList);