/*Global*/
*{
    box-sizing: border-box;
    font-family: Roboto, 'Sans Serif', Arial;
}
a{ 
    text-decoration: none; 
}

body{
    margin: 0px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content{
    max-width: 1000px;
    width: 100%;
}

.container, .content{
    padding: 32px 16px;
}

.center, .content{
    display: block;
    margin: 0px auto;
}

form.strict label{
    text-align: right;
}

form div.group > *{
    display: block;
    width: 100%;
}

form div.group.fluid{
    white-space: nowrap;
}

form div.group.fluid > *{
    display: inline-block;
    white-space: normal;
    width: 50%;
}

form div.group.fluid > label{
    text-align: right;
}

.group{display: block;}
.group, .row{margin-bottom: 8px;}

label.group > *{width: 100%;}

label.group.fluid{text-align: right;}
label.group.fluid > *{width: 50%;}

.left{
    margin-left: unset;
    margin-right: auto;
    text-align: left;
}

.right{
    margin-left: auto;
    margin-right: unset;
    text-align: right;
}

.tag{
    border-radius: 4px;
    padding: 2px 4px;
    text-align: center;
}

/*Control*/
.control{
    border: 1px solid black;
    outline: none;
}

form.form input{
    border: 1px solid;
    outline: none;

    transition: border .2s ease-in;
}

form.form input:focus{

}