//Space variables definitions
//Usage: Margin, padding and relative position (left, right, etc.)
$space-xsm : 4px;
$space-sm: 8px;
$space-md: 24px;
$space-lg: 250px;
$space-xlg: 128px;

$spaceList : $space-xsm $space-sm $space-md $space-lg $space-xlg;

//Viewport width variable definitions
//Usage: In containers width definitions
$vw-xsm: 280px;
$vw-sm: 420px;
$vw-md: 880px;
$vw-lg: 1280px;
$vw-xlg: 1600px;

@mixin m-x-auto{
    margin-left: auto;
    margin-right: auto;
}

@mixin responsive-w{
    width: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.container{
    display: block;
    max-width: $vw-md; //<ALTER:.container:max-width>
    padding: $space-sm $space-md; //<ALTER:.container:padding>

    @include m-x-auto;
    @include responsive-w;
}

.container{
    @include responsive-w;
}

.container-flex{
    display: flex;
    @include responsive-w;
}

.container-flex > *{
    flex: 1;
}

//Display section
@include rule(".d-block", display, block);
@include rule(".d-flex", display, flex);
@include rule(".d-inline", display, inline);
@include rule(".d-inline-block", display, inline-block);

//--Flex
//Create flex grid from 1 to $gridColumns
@for $i from 1 through $gridColumns{
    @include rule(".flex-#{$i}", flex, $i);
}

//Flex grow and shrink
@include rule(".flex-grow-0", flex-grow, 0);
@include rule(".flex-grow-1", flex-grow, 1);
@include rule(".flex-shrink-0", flex-shrink, 0);
@include rule(".flex-shrink-1", flex-shrink, 1);

//Align
.flex-ai-stretch{align-items: stretch;}
.flex-ai-center{align-items: center;}
.flex-ai-fs{align-items: flex-start;}
.flex-ai-fe{align-items: flex-end;}
.flex-ai-baseline{align-items: baseline;}

//Justify content
.flex-jc-fs{justify-content: flex-start}
.flex-jc-fe{justify-content: flex-end}
.flex-jc-center{justify-content: center}
.flex-jc-sb{justify-content: space-between}
.flex-jc-sa{justify-content: space-around}

.m-x-auto{
    @include m-x-auto;
}

.pos-abs{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

@include responsiveStylesBoxSizing(".ma", margin, $spaceList);
@include responsiveStylesBoxSizing(".pa", padding, $spaceList);

@include responsiveStyles(".top", "top", $spaceList);
@include responsiveStylesRelativeSizing(".top", top);

@include responsiveStyles(".right", "right", $spaceList);
@include responsiveStylesRelativeSizing(".right", right);

@include responsiveStyles(".bottom", "bottom", $spaceList);
@include responsiveStylesRelativeSizing(".bottom", bottom);

@include responsiveStyles(".left", "left", $spaceList);
@include responsiveStylesRelativeSizing(".left", left);

@include responsiveStylesRelativeSizing(".w", "width");
@include responsiveStylesRelativeSizing(".h", "height");
@include responsiveStylesRelativeSizing(".s", "height" "width");