/*
pc screen
xlg:    2590px
lg:     1610px
md:     1000px
sm:     610px;
xsm:    370px;
--------------------------------------
mobile screen
lg:     770px
md:     480px
sm:     290px;
*/


/*Global*/
*{
    box-sizing: border-box;
    font-family: Roboto, 'Sans Serif', Arial;
}
a{ 
    text-decoration: none; 
}

body{
    margin: 0px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container, .content{
    padding: 32px 16px;
}

.center, .content{
    display: block;
    margin: 0px auto;
}

form.strict label{
    text-align: right;
}

input{
    border: width border-style color;
}

.left{
    margin-left: unset;
    margin-right: auto;
    text-align: left;
}

.right{
    margin-left: auto;
    margin-right: unset;
    text-align: right;
}

.tag{
    border-radius: 4px;
    padding: 2px 4px;
    text-align: center;
}

/*Coloring*/
a{
    color: #218ac4;
    transition : color .2s;
}
a:hover{color : #145b82;}
a:visited{color : #871616 !important;}

body.invert-color, 
body.invert-color input, 
body.invert-color button{
    background-color: #1F1F1F;
}


body.invert-color *{
    color: white;
}

.bg-r{background-color: #c42121;}
.bg-g{background-color: #21c454;}
.bg-b{background-color: #218ac4;}

.co-r{color: #c42121;}
.co-g{color: #21c454;}
.co-b{color: #218ac4;}

.tag{color: white;}

/*Containers*/
form div.group > *{
    display: block;
    width: 100%;
}

form div.group.fluid{
    white-space: nowrap;
}

form div.group.fluid > *{
    display: inline-block;
    white-space: normal;
    width: 50%;
}

form div.group.fluid > label{
    text-align: right;
}

.group{display: block;}
.group, .row{margin-bottom: 8px;}

label.group > *{width: 100%;}

label.group.fluid{text-align: right;}
label.group.fluid > *{width: 50%;}

/*Grid*/
.col{
    margin-bottom: 4px;
}

/*Flex grid*/

.row.flex{display: flex;}

.row.flex .col{
    flex: 1;
    float: none;
    margin-left: 4px;
}

.row.flex .col.col-2{flex: 2;}
.row.flex .col.col-3{flex: 3;}
.row.flex .col.col-4{flex: 4;}
.row.flex .col.col-5{flex: 5;}
.row.flex .col.col-6{flex: 6;}
.row.flex .col.col-7{flex: 7;}
.row.flex .col.col-8{flex: 8;}
.row.flex .col.col-9{flex: 9;}
.row.flex .col.col-10{flex: 10;}
.row.flex .col.col-11{flex: 11;}
.row.flex .col.col-12{flex: 12;}

/*Responsiveness*/
.max-w-xlg{
    max-width: 2590px;
    width: 100%;
}

.max-w-lg{
    max-width: 1610px;
    width: 100%;
}

.max-w-md{
    max-width: 1000px;
    width: 100%;
}

.max-w-sm{
    max-width: 610px;
    width: 100%;
}

.max-w-xsm{
    max-width: 370px;
    width: 100%;
}

/*Typography*/
h1{font-size: 38px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

h1, h2{margin: 0px 0px 18px 0px;}

h3, h4, h5{margin: 0px 0px 10px 0px;}

h6{margin: 0px 0px 6px 0px;}

input{font-size: 14px;}

p{
    font-size: 16px;
    line-height: 24px;
}

.tag{font-size: 14px;}

/*Sizing*/
.content{
    max-width: 1000px;
    width: 100%;
}

/*Default viewport*/
.content.xlg{max-width: 2590px;}
.content.lg{max-width: 1610px;}
.content.sm{max-width: 610px;}
.content.xsm{max-width: 370px;}

/*Mobile viewport*/
*.vp-mob .content.lg{max-width: 770px;}
*.vp-mob .content{max-width: 480px;}
*.vp-mob .content.sm{max-width: 270px;}

/*BREAKPOINTS*/
.until-vp-mob, 
.until-sm,
.until-xsm,
.until-md,
.until-lg,
.until-xlg,
.when-sm,
.when-xsm,
.when-md,
.when-lg,
.when-xlg{
    display: none;
}

/*Until default extra large viewport (vp-xlg) */
@media (max-width: 2590px) {
    .until-xlg{display: unset;}
}

/*When default extra large viewport (vp-xlg) */
@media (min-width: 2590px) {
    .when-xlg{display: unset;}
}

/*Until default large viewport (vp-lg) */
@media (max-width: 1610px) {
    .until-lg{display: unset;}
}

/*When default large viewport (vp-lg) */
@media (min-width: 1610px) {
    .when-lg{display: unset;}
}


/*Until default viewport (vp-md) */
@media (max-width: 1000px) {
    .until-md{display: unset;}
}

/*When default viewport (vp-md) */
@media (min-width: 1000px) {
    .when-md{display: unset;}
}


/*Until default small viewport (vp-sm) */
@media (max-width: 610px) {
    .until-sm{display: unset;}

    /*Grid break*/
    .col{display: block;}
    .row.flex{ display: unset;}
}

/*When default small viewport (vp-sm) */
@media (min-width: 610px) {
    .when-sm{display: unset;}
}

/*Until default extra small viewport (vp-xsm) */
@media (max-width: 370px) {
    .until-xsm{display: unset;}
}

/*When default extra small viewport (vp-xsm) */
@media (min-width: 370px) {
    .when-xsm{display: unset;}
}